.navbar-nav .nav-item{
    margin-left: 1em;
    margin-right: 1em;
}
.page-header .img-fluid{
    min-width: 8em;
}
.navbar{

    /* background: rgba(121, 193, 245, 0.2); */
    background: #81B29A;
    font-size: 1.1em;
    font-weight: 700;
}