
.body-color{
    background-color: #F0EFE8;
}
/* card container  */
#cardContainer{
    margin-bottom: 2em;
}
.container .card .btn {
    /* background-color: rgb(0, 168, 151,0.1); */
    margin-top: 2em;
    margin-bottom: 0;
    color: white;
    
}


/* carousel */
.cover-div{
  background-image: url(../image/Maverick.png);
  background-size:cover;
  padding:0;
  position: relative;
}
.carousel-text{
    margin-top:5em;
}
.carousel-indicators li {
  padding: 0.2em;
  background-color: rgb(59, 52, 52);
  width:9em;
  height:2em;
  border-radius: 1;
  text-indent: 0.3%;
  color: #fff;
  margin-top:0;
}

.carousel{
  z-index: 2;
  padding-bottom: 2em !important;
}
.carousel-item .container{
  padding-top: 4em !important;
  padding-bottom: 0 !important;
}


#temperature-indicator{
  text-indent:1.4%;

}

#lengthy-indicator{
  text-indent:0.8%;

}
#dailyET-indicator{
  text-indent:2.2%;
}

.carousel-indicators .active {
  /* background-color: rgb(6, 60, 161); */
  background-color: #6a6b6b;
}

.carousel-indicators :hover{
  background-color: #6a6b6b;
}

.carousel-inner{
  height: 35em !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-items .card{
  width: 50em;
  height:80em;
}


  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

}