.page-footer{
    /* background-color:#003F91; */
    background-color: #1D5A99;
    color: white;
}
.page-header{
    margin:0;
    background-color: #0F5297;
 }

 .h-divider{
 width:100%;
 border-top:0.2em solid white;
}
 .page-footer{
     margin:0;
     padding-top: 1em;
     padding-bottom: 1em;
 }

/* Bootstrap should have already provided this, check again */
.align-items-center {
    display: flex; 
    align-items: center;  /*Aligns vertically center */
    justify-content: space-around; /*Aligns horizontally center */
  }