.navbar-nav .nav-item{
    margin-left: 1em;
    margin-right: 1em;
}
.page-header .img-fluid{
    min-width: 8em;
}
.navbar{

    /* background: rgba(121, 193, 245, 0.2); */
    background: #BA5B2A;
    font-size: 1.1em;
    font-weight: 700;
}
.nav-link{
    color: white;
    padding: .8em;
    margin-left: 3.5em;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}