.jumbotron{
  padding-bottom: 1em;
}
.carousel-text{
    margin-top:5em;
}
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(38, 56, 134, 0.5);
  width:8em;
  height:2em;
  border-radius: 1;
  text-indent: 0.8%;
  color: #fff;
}

#temperature-indicator{
  text-indent:1.2%;

}

#dailyET-indicator{
  text-indent:2.6%;
}

.carousel-indicators .active {
  background-color: rgb(6, 60, 161);
}

.carousel-indicators :hover{
  border-color:  rgb(6, 60, 161);
}

.carousel-inner{
  height: 35em !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}


  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

}